body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
textarea {
  width: 100%;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.ui-widget-header {
  background-color: white;
  border-bottom: 1px solid #dddddd ;
}

.task {
  margin:20px;
  margin-bottom:10px;
  z-index:5;
  
}

.todo > div{
  background-color: red;
}

.inProgress > div{
  background-color: yellow;
}

.done > div {
  background-color: green;
}

.sortable {
  min-width: 100%;
  min-height: 100%;
}