body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
textarea {
  width: 100%;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.ui-widget-header {
  background-color: white;
  border-bottom: 1px solid #dddddd ;
}

.task {
  margin:20px;
  margin-bottom:10px;
  z-index:5;
  
}

.late > div{
  background-color: rgb(255, 68, 68);
  color:white;
}
.late .card-header {
  background-color: rgb(235, 53, 53);

}
.soon > div{
  background-color: rgb(238, 219, 49);
  color:white;
}

.soon .card-header {
  background-color: rgb(219, 202, 46);
}

.sortable {
  min-width: 100%;
  min-height: 100%;
}